@use "../helpers/helpers" as *;
@use "../helpers/colors";
header {
  nav {
    .container {
      .navbar-brand {
        > img {
          width: 100px;
        }
      }
      .login {
        background-color: $light-blue;
      }
    }
    .nav-box {
      display: flex;
      gap: 15px;
      @include md {
        @media (min-width: #{$screen-md-min}) {
          display: flex;
          width: 100%;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .navbar {
      border: 1px solid $light-gray;
      @include md {
        @media (min-width: #{$screen-md-min}) {
          position: relative;
          border: none;
          padding: 0;
        }
      }
      ul {
        @include md {
          @media (min-width: #{$screen-md-min}) {
            justify-content: flex-start;
            gap: 40px;
          }
        }
        li {
          span {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            color: $light-gray;
            &.active,
            &:hover {
              color: $light-blue;
            }
            svg {
              width: 30px;
              fill: $light-gray;
              &.active,
              &:hover {
                fill: $light-blue;
              }
              @include md {
                @media (min-width: #{$screen-md-min}) {
                  display: none;
                }
              }
            }
          }
        }
        li:nth-child(2) {
          span {
            svg {
              width: 20px;
            }
          }
        }
      }
    }
    .login {
      @include md {
        @media (min-width: #{$screen-md-min}) {
          margin: 0;
          text-align: center;
          width: 150px;
        }
      }
    }
  }
}
